<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img src="./assets/images/Arsenal-logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="league">League</a></li>
        <li ui-sref-active="active"><a ui-sref="fixtures.coming">Fixtures</a></li>
        <li ui-sref-active="active"><a ui-sref="fixtures.result">RecentMatches</a></li>
      </ul>
    </div>
  </div>
</nav>
