<script type="text/ng-template" id="modalContent.html">
  <div class="modal-body">
    <img ng-src='{{url}}' err-src='http://bit.ly/29ParisMessi' style='width:898px;'>
  </div>
</script>

<div id='container'>
<div id='chooseTeam' class='choose'>
  
</div>
<div id="overView">  
  <div class='content'>
    <h3>{{team.name}}</h3>
	<p><b>Short Name:</b> {{team.sName}}</p>
	<p><b>Market Value:</b> {{team.marketValue}}</p>
	<div style="border:1px solid #999;">
	  <img class='img' src='{{team.url}}'>
	</div>
  </div>
  <div class='content'>
    <div style='margin-left:4%;'>
      <h3>Fixtures</h3>
	</div>
	<div style="height:350px;padding:auto;margin-left:4%;">
	  <table class="table table-bordered league-table">
	    <thead>
	      <tr>
	        <th>Date</th>
		    <th>Matchday</th>
		    <th>Home Team</th>
		    <th>Result</th>
		    <th>Away Team</th>
		    <th>Status</th>
		  </tr>
	    </thead>
	  
	    <tbody>
	      <tr dir-paginate="fixture in team.fixtures | orderBy: '-matchday' | itemsPerPage: 5">
		    <td>{{fixture.date | date: 'medium'}}</td>
		    <td>{{fixture.matchday}}</td>
		    <td>{{fixture.homeTeamName}}</td>
		    <td>{{fixture.result.goalsHomeTeam}}<b>--</b>{{fixture.result.goalsAwayTeam}}</td>
		    <td>{{fixture.awayTeamName}}</td>
		    <td>{{fixture.status}}</td>
		  </tr>
	    </tbody>
	  </table>
	  <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
      </dir-pagination-controls>
	</div>
  </div>
</div>
<div id="members">
  <div style='margin-left:4%;'>
    <h3>Players</h3>
  </div>
  
  <input style='margin-left:4%;' type="text" placeholder="Serch player name..." ng-model="sContent.name"/>
  <div style="height:auto; width:auto; padding:15px 55px 15px 55px;overflow:scroll;">
	  <table class="table table-bordered league-table">
	    <thead>
	      <tr>
	        <th ng-click="team.sort(0)"><label style='color:#337ab7;'>Name</label></th>
		    <th ng-click="team.sort(1)"><label style='color:#337ab7;'>Number</label></th>
		    <th ng-click="team.sort(2)"><label style='color:#337ab7;'>Age</label></th>
		    <th ng-click="team.sort(3)"><label style='color:#337ab7;'>Nationality</label></th>
		    <th ng-click="team.sort(4)"><label style='color:#337ab7;'>Market Value</label></th>
		    <th ng-click="team.sort(5)"><label style='color:#337ab7;'>Position</label></th>
			<th><label style='color:#337ab7;'>FIFA Data</label></th>
		  </tr>
	    </thead>
	  
	    <tbody>
	      <tr ng-repeat="player in team.players | filter: sContent | orderBy: team.order ">
		    <td>{{player.name}}</td>
		    <td>{{player.jerseyNumber}}</td>
		    <td>{{player.dateOfBirth | dateToAge}}</td>
		    <td>{{player.nationality}}</td>
		    <td>{{player.marketValue | toEuro | currency: '€'}}</td>
		    <td>{{player.position}}</td>
			<td><button class="btn btn-primary" type="button" ng-click='team.openn(player.name)'>Check</button></td>
		  </tr>
	    </tbody>
	  </table>
  </div>
</div>
</div>


