.content {
	
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	margin-left:0%;
	padding: 0 10px 40px 10px;
}

.img {
	
	margin:10px;
	width:220px;
	height:220px;
	
}

.modal {
	
	top:15%;
}

.modal-body {
	
	padding: 0;
	height:0;
}

.modal-content {
	
	background-color: transparent;
}

.table {
	
	margin-bottom:0;
}

.select {
	
	width: 200px;
	float: right;
	margin-left:1%;
}